@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

header span {
  cursor: pointer;
  width: fit-content;
}

header a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
}