name: Build Template

on:
  workflow_call:
    inputs:
      build_only:
        required: false
        type: boolean
        default: false
    secrets:
      REGISTRY_URL:
        required: false
      REGISTRY_USERNAME:
        required: false
      REGISTRY_PASSWORD:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build --progress=plain -t "$REGISTRY_URL/main-website-next" .

    - name: Log in to Docker registry
      if: ${{ !inputs.build_only }}
      run: echo "$REGISTRY_PASSWORD" | docker login "$REGISTRY_URL" -u "$REGISTRY_USERNAME" --password-stdin

    - name: Push Docker image
      if: ${{ !inputs.build_only }}
      run: docker push "$REGISTRY_URL/main-website-next"
